@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url('./assets/images/bg-img_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

/* scroll-bar styling */
::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: white;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: black;
    border-radius: 10px;
}